# Byte-compiled / cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
*.env
.env.*

# Virtualenv
venv/
env/
.venv/

# Logs and DB
*.log
*.db
*.sqlite3

# Alembic migrations cache
alembic/versions/__pycache__/
